* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 729px;
    background-image: url(./images/infinite-loop-01.jpg);
}

.header-nav {
    width: 100%;
    padding: 20px 50px;
}

.header-ul {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
}

.header-ul .header-li:first-child {
    margin-right: auto;
}

.header-ul .header-li:not(:first-child) {
    margin-left: 35px;
}

.header-li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.header-ul .header-li:first-child a {
    font-size: 24px;
    font-weight: 700;
}

.header-lii a {
    text-decoration: none;
    color: rgb(171, 168, 168);
}

.header-div-1 {
    text-align: center;
    margin-top: 12%;
    color: #FFFFFF;
}

.header-li a:hover {
    color: rgb(171, 168, 168);
    transform: 0.3s;
}

.header-div-1 h1 {
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 15px;
}

.header-div-1 h6 {
    font-size: 14px;
    color: rgb(204, 201, 201);
    margin-bottom: 10px;
}

.header-div-1 p {
    color: rgb(204, 201, 201);
    font-weight: 300;
    margin-bottom: 165px;
}